body {
  text-align: center;
  color: #000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2{
  font-size: 40px;
}

.loginOverlay {
  display: inline;
  width: 0;
  justify-content: right;
  height: 50px;
}


.overlayButtons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  color: #fff;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width:35%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 10px 20px;

}

.close-login-button {
  top: 0px;
  right: 0px;
  border: none;
  padding: 5px 10px;
  display: flex;
}

.side-menu {;
  background-color: #111;
  padding: 10px;
  width: 70%;
  display: inline;
}
.login-menu {
  border:#fff;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 10%;
  background-color: #000;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-mode {
  background-color: #fafafa;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #fafafa;
}